$sunny-1: #ffe95c
$sunny-2: #403d39
$sunny-3: #252422
$sunny-4: #eb5e28
$sunny-5: #38a700
$cold-1: #e253f1
$cold-2: #c5cbfc
$cold-3: #02111b
$cold-4: #006e90
$cold-5: #177e89
$overcast-1: #d6d6d6
$overcast-2: #b3b3b3
$overcast-3: #8a8a8a
$overcast-4: #616161
$overcast-5: #383838
$rainy-1: #2d9ad2
$rainy-2: #248dad
$rainy-3: #1c6285
$rainy-4: #13445c
$rainy-5: #36bcff
$snowy-1: #FFFFFF
$snowy-2: #686868
$snowy-3: #b3b3b3
$snowy-4: #8a8a8a
$snowy-5: #616161
$base-1: #6ffabb
$base-2: #7fc7a7
$base-3: #7c9489
$base-4: #4a6156
$base-5: #1d3329

@font-face 
    font-family: 'Constantia Normal'
    src: url(../fonts/Constantia.ttf)
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'Mukta Bold'
    src: url(../fonts/Mukta-Bold.ttf)
    font-weight: 700

@font-face
    font-family: 'Mukta Extra Bold'
    src: url(../fonts/Mukta-ExtraBold.ttf)
    font-weight: 800

@font-face
    font-family: 'Mukta Medium'
    src: url(../fonts/Mukta-Medium.ttf)
    font-weight: 500

@font-face
    font-family: 'Mukta Regular'
    src: url(../fonts/Mukta-Regular.ttf)
    font-weight: 400
    
*,
*::before,
*::after
    box-sizing: border-box

*
    margin: 0
    padding: 0
    scroll-behavior: smooth

html
    font-size: 62.5%

img
    width: 100%
    object-fit: cover

body
    font-size: 1.6rem
    display: flex
    justify-content: center
    font-family: 'Mukta Regular'
    min-height: 100vh

.content
    display: grid
    width: 100%
    max-width: 37.5rem
    grid-template-rows: 5rem 1fr 5rem
    grid-template-areas: "navbar" "content" "footer"

@media screen and (min-width: 600px)
    .content
        max-width: unset
        
        

nav
    grid-area: navbar
    background-color: $base-5
    height: 5rem
    display: flex
    padding-inline: 1.6rem 1.4rem
    position: relative
    .navbar
        height: 100%
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%
        h1
            font-size: 1.2rem
            color: $base-1
            font-family: 'Constantia Normal'
        .hamburger
            width: 100%
            max-width: 2.5rem
            display: flex
            height: 100%
            max-height: 2.3rem
            flex-direction: column
            gap: .4rem
            cursor: pointer
            .line
                width: 100%
                max-width: 2.3rem
                height: .4rem
                border: none
                border-radius: 6px
                background: $base-1
                pointer-events: none
                transition: background 0.3s ease-in-out
        .links
            position: absolute
            right: 0
            top: 5rem
            text-align: center
            list-style: none       
            max-height: 0
            overflow: hidden
            li
                background: $base-5
                padding: 2rem
                opacity: .7
                transition: all 0.2s ease-in-out
                cursor: pointer
                &:hover
                    background: $base-2
                &:hover a
                    color: $base-5
            li a
                text-decoration: none
                color: $base-1
            
.hamburger:hover .line
    background: #FFFFFF

@media screen and (min-width: 600px)
    nav
        justify-content: center
        .navbar
            width: 100%
            max-width: 99.4rem
            h1
                font-size: 2rem
            .hamburger
                display: none
            .links
                position: static
                display: flex
                height: 100%
                max-height: 100%
                align-items: center
                li
                    opacity: 1 
                    padding: 2rem 4rem
    


main
    grid-area: content
    background: linear-gradient(161deg, darken(#FFF, 1%) -0.23%, rgba(191, 241, 218, 0.20) 56.61%)
    background-blend-mode: darken
    display: grid
    grid-template-areas: "zip" "temperatureInfo" "forecast"
    justify-items: center
    .zipContainer
        display: flex
        flex-direction: column
        width: 100%
        align-items: center
        gap: 2rem
        button
            padding: .5rem 2rem
            border: none
            border-radius: 4px
            font-family: inherit
            background: $base-2
            color: white
            cursor: pointer
            transition: background 0.2s ease-in-out
            &:hover
                background: $base-4
    #zipCode
        display: flex
        margin-top: 3.8rem
        width: 100%
        max-width: 21.7rem
        height: 3rem
        border-radius: 8px
        background: #FFF
        text-align: center
        border: none
    .mainContent
        position: relative
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
        .areaChoice
            display: flex
            flex-direction: column
            width: 100%
            gap: 5rem
            align-items: center
            position: relative
            left: 50%
            opacity: 0
            transform: translateX(-50%)
            transition: opacity 0.2s ease-in-out
            &[data-choice='']
                z-index: 2
                opacity: 1
            .area
                border: none
                border-radius: 8px
                background: white
                cursor: pointer
                width: 100%
                max-width: 75%
                text-align: center
                box-shadow: 2px 2px 5px lighten($base-5, 70%)
                transition: all 0.2s ease-in-out
                padding: .5rem 2rem
                p
                    pointer-events: none
                &:first-child
                    margin-top: 5rem
                &:hover
                    background: $base-4
                    color: white
        .temperatureInfo
            position: relative
            font-size: 1.2rem
            display: flex
            flex-direction: column
            width: 100%
            max-width: 27.9rem
            align-items: center
            padding-top: 3rem
            height: 100%
            max-height: 0
            overflow: hidden
            border-radius: 8px
            background: #FFF
            transition: opacity 0.2s ease-in-out
            img
                width: 13rem
            &[data-weather = '']
                margin-top: 5rem
                max-height: unset
                text-align: center
                padding-inline: 2rem
                z-index: 2
                opacity: 1
                padding-bottom: 3rem
                .areaElement
                    display: flex
                    flex-direction: column
                    align-items: center
                    p:first-child
                        margin-top: 2rem
                        font-size: 1.6rem
                    p:nth-child(2)
                        margin-top: 1rem
                        font-size: 2rem
                    p:nth-child(3)
                        margin-top: 1rem
                        font-size: 2.5rem
                    p:last-child
                        margin-top: 1.5rem
                        font-size: 2rem
        .forecast
            position: relative
            font-size: 1.2rem
            display: flex
            flex-direction: column
            gap: 2rem
            width: 100%
            max-width: 27.9rem
            height: 100%
            max-height: 0
            overflow: hidden
            border-radius: 8px
            background: #fff
            justify-content: center
            align-items: center
            margin-bottom: 6rem
            transition: opacity 0.2s ease-in-out
            &[data-weather = '']
                margin-top: 5.3rem
                max-height: unset
                z-index: 2
                opacity: 1
                padding: 2rem
                overflow: unset
            .forecastPane
                display: grid
                grid-template-columns: repeat(2, 1fr)
                grid-template-areas: "time time" "image conditions"
                
                width: 95%
                padding: 1rem 2rem
                border-radius: 8px
                .hoursDisplay
                    font-size: 1.6rem
                    grid-area: time
                    justify-self: center
                .conditionContainer
                    grid-area: conditions
                    justify-self: center
                    text-align: center
                    p:first-child
                        font-size: 2rem
                    p:last-child
                        font-size: 1.6rem
                .secondWeatherImg
                    grid-area: image
                    width: 7rem
                    justify-self: center
                    align-self: center

#zipCode::placeholder
    text-align: center
    font-family: 'Mukta Regular'

.temperatureInfo,
.forecast 
    z-index: 1
    opacity: 0
    
#zipCode,
.temperatureInfo,
.forecast,
.forecastPane
    box-shadow: 2px 2px 5px lighten($base-5, 70%)

.stateSpan
    pointer-events: none

.temperatureInfo[sunny = '']
    background: linear-gradient(161deg, darken(#FFF, 1%) -0.23%, $sunny-1 56.61%)

.temperatureInfo[overcast = '']
    background: linear-gradient(161deg, $overcast-1 -0.23%, $overcast-2 60%) !important
    color: black

.temperatureInfo[clearD = '']
    background: linear-gradient(161deg, rgba(233, 217, 200, 0.795) -0.23%, rgba(250, 211, 82, 0.753) 60%) !important

.temperatureInfo[clearN = '']
    background: linear-gradient(161deg, rgb(43, 49, 71) -0.23%, rgb(74, 80, 100) 60%) !important
    color: $snowy-1

.temperatureInfo[cloudyD = '']
    background: linear-gradient(161deg, rgba(199, 197, 195, 0.637) -0.23%, rgba(231, 192, 61, 0.801) 60%) !important

.temperatureInfo[cloudyN = '']
    background: linear-gradient(161deg, rgb(55, 57, 61) -0.23%, rgba(51, 57, 70, 0.74) 60%) !important
    color: $snowy-1

.temperatureInfo[drizzleD = '']
    background: linear-gradient(161deg, rgba(255, 255, 255, 0.658) -0.23%, rgba(182, 186, 196, 0.288) 60%) !important

.temperatureInfo[drizzleN = '']
    background: linear-gradient(210deg, rgba(0, 0, 0, 0.26) -0.23%, rgba(0, 0, 0, 0.185) 60%) !important
    color: $snowy-1

.temperatureInfo[rainD = '']
    background: linear-gradient(161deg, rgba(255, 255, 255, 0) -0.23%, rgba(190, 197, 214, 0.61) 60%) !important

.temperatureInfo[snowD = '']
    background: linear-gradient(161deg, $snowy-1 -0.23%, lighten($snowy-2, 50%)) !important

.temperatureInfo[snowN = '']
    background: linear-gradient(161deg, $snowy-1 -0.23%, lighten($snowy-2, 30%)) !important
    color: $snowy-1

.forecastPane[sunny = '']
    background: linear-gradient(161deg, darken(#FFF, 1%) -0.23%, $sunny-1 56.61%)

.forecastPane[overcast = '']
    background: linear-gradient(161deg, $overcast-1 -0.23%, $overcast-2 60%) !important
    color: black

.forecastPane[clearD = '']
    background: linear-gradient(161deg, rgba(233, 217, 200, 0.795) -0.23%, rgba(250, 211, 82, 0.753) 60%) !important

.forecastPane[clearN = '']
    background: linear-gradient(161deg, rgb(43, 49, 71) -0.23%, rgb(74, 80, 100) 60%) !important
    color: $snowy-1

.forecastPane[cloudyD = '']
    background: linear-gradient(161deg, rgba(199, 197, 195, 0.637) -0.23%, rgba(231, 192, 61, 0.801) 60%) !important

.forecastPane[cloudyN = '']
    background: linear-gradient(161deg, rgb(55, 57, 61) -0.23%, rgba(51, 57, 70, 0.74) 60%) !important
    color: $snowy-1

.forecastPane[drizzleD = '']
    background: linear-gradient(161deg, rgba(255, 255, 255, 0.658) -0.23%, rgba(182, 186, 196, 0.288) 60%) !important

.forecastPane[drizzleN = '']
    background: linear-gradient(210deg, rgba(0, 0, 0, 0.26) -0.23%, rgba(0, 0, 0, 0.185) 60%) !important
    color: $snowy-1

.forecastPane[rainD = '']
    background: linear-gradient(161deg, rgba(255, 255, 255, 0) -0.23%, rgba(190, 197, 214, 0.61) 60%) !important

.forecastPane[snowD = '']
    background: linear-gradient(161deg, $snowy-1 -0.23%, lighten($snowy-2, 50%)) !important

.forecastPane[snowN = '']
    background: linear-gradient(161deg, $snowy-1 -0.23%, lighten($snowy-2, 30%)) !important
    color: $snowy-1


@media screen and (min-width: 600px)
    main .mainContent
       display: flex
       flex-direction: column
       align-items: center
       width: 100%
       max-width: 71rem 
       .zipContainer
        width: 98%
        #zipCode
         margin-top: 8.2rem
         max-width: 60rem
         height: 4rem
       .areaChoice
        margin-top: 5rem
        
       .temperatureInfo,
       .forecast
        width: 95% 
        max-width: 71rem 
        
       .temperatureInfo
        display: grid
        grid-template-columns: repeat(2, 1fr) 
        justify-items: center
        align-items: center
        img
           width: 25rem  

       .forecast .forecastPane .secondWeatherImg
        width: 10rem
        

footer
    grid-area: footer
    display: flex
    background: $base-5
    align-items: center
    justify-content: center
    color: $base-1
    font-size: 1.2rem
    letter-spacing: .05rem
    a
        text-decoration: none
        color: white
        transition: color 0.2s ease-in-out
        &:hover
            color: lighten(blue, 30%)

@media screen and (min-width: 600px)
    footer
        font-size: 1.4rem
        letter-spacing: .2rem
